
/* This is a comment! */

/* Global styling for h1 tags */
h1 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 0px;
    background-color: aqua;
}

/* Global styling for h2 tags */
h2 {
    font-size: 20px;
    background-color: green;
}